{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'devices/assets/css/styles.css' %}">

        <title>Devices</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="/" class="nav__logo">Electronic Paradise</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% url 'account_logout' %}" class="nav__link">Logout</a></li>

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== MENU ==========-->
            <section class="menu section bd-container" id="menu">
                <span class="section-subtitle">Special</span>
                <h2 class="section-title">Awesome devices</h2>

                <div class="menu__container bd-grid">
                    {% for d in devices %}
                    <div class="menu__content">
                        <img src="{{ d.image.url }}" alt="" class="menu__img">
                        <h3 class="menu__name">{{ d.name }}</h3>
                        <span class="menu__detail">{{ d.desc }}</span>
                        <span class="menu__preci">${{ d.price }}</span>
                        <a href="{% url 'order' pk=d.id %}" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                    {% endfor %}
                </div>

            </section>

            <!--========== CONTACT US ==========-->
            <section class="contact section bd-container" id="contact">
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <span class="section-subtitle contact__initial">you know what...</span>
                        <h2 class="section-title contact__initial">About us</h2>
                        <p class="contact__description">If you want to get super devices come to our shop and choose best ones</p>
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">Electronic Paradise</a>
                    <span class="footer__description">Game shop</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>



                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Game shop</a></li>
                        <li><a href="#" class="footer__link">Computer club</a></li>
                        <li><a href="#" class="footer__link">Championships</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Bishkek City</li>
                        <li>Soviet, 199</li>
                        <li>999 - 888 - 777</li>
                        <li>devices@email.com</li>
                    </ul>
                </div>
            </div>

            <p class="footer__copy">&#169; 2022 Electronic Paradise. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="{% static 'devices/assets/js/main.js' %}"></script>
    </body>
</html>